@mixin flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin responsive-font($size-mobile, $size-tablet, $size-bigTablet, $size-pc) {
  font-size: $size-mobile;
  @media (min-width: 768px) {
    font-size: $size-tablet;
  }
  @media (min-width: 992px) {
    font-size: $size-bigTablet;
  }
  @media (min-width: 1200px) {
    font-size: $size-pc;
  }
}
