@use "Modules/header";
@use "Base/mixins";
@use "Modules/hero";
@use "Modules/facilities";
@use "Modules/rooms";
@use "Modules/book";
@use "Modules/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
