@use "../Base/mixins";

.facilities {
  h2 {
    color: #957554;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    @include mixins.responsive-font(30px, 35px, 40px, 45px);
  }
  .f_container {
    @include mixins.flex-center;
    text-align: center;

    h4 {
      color: #957554;
      margin-top: 1rem;
      margin-bottom: 4rem;
      @include mixins.responsive-font(18px, 20px, 22px, 24px);
    }
  }
}
