@use "../Base/mixins";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

header {
  color: #fff;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  nav {
    margin-bottom: 4rem;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
      li {
        font-size: 1.5rem;
        @include mixins.responsive-font(0.8rem, 1rem, 1.2rem, 1.5rem);
        color: black;
        list-style: none;
        a {
          font-family: "Ubuntu", sans-serif;
          text-decoration: none;
          color: #957554;
        }
      }
      i {
        font-size: 1rem;
        @include mixins.responsive-font(0.7rem, 0.8rem, 0.9rem, 1rem);
        color: #957554;
      }
    }
  }
}
